body{
  font-family: Pingfang SC,Microsoft Yahei,Lato,Helvetica;
  letter-spacing: 1.2px;
  background: url(./background.png)
}

.pad {
  padding: 0 2%;
}
.pad2x {
  padding: 0 4%;
}
.pad3x{
  padding: 0 8%;
}

ul {
  list-style-type: none;
  padding: 0;
}


p{
  line-height: 160%;
  text-decoration: none;
}

a{
  text-decoration: none;
}